*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.background{
    position:relative;
    width:100%;
    height:100vh;
    margin: auto;
    background-image: url(background\ pic.jpeg);
    background-position: center;
    background-size: ;
}


nav{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 20px 0%;
}
nav ul li{
    display: inline-block;
    list-style-type:lower-latin;
    margin: 20px 20px;
    text-align: right;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
nav ul li a:hover{

    color: blue;
}


.home{
    margin-top: 10%;
    font-size: 20px;
    margin-right: 8%;
    
}
.home h1{
    font-size: 80px;
    margin-bottom: 20px;
    color: white;
    
    
}
.home h1 span{
    color: black;
    font-size: 60px;

}
.home ul li{
    color: black;
    font-size: large;
}

#about{
    font size: 80px
    color: white;
    margin bottom 20px;
}
#about h1{
    font-size: 20px;
    color: WHITE;
    margin-top: 3%;
    text-align: center;
}
#about h1 span{
    color: BLACK;
    font size: 5px;
    font-style: italic;
    
}
#about span{
    color: black;
    font-size: 40px;

}
#about p{
    color: whitesmoke; 
    margin-top: 2%;
    font-size: 18px;
    text-align: center;  
}
ol{
    color: black;
    font-style: italic;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 1%;
}
.github-link a{
    color: #000;
    
}
.linked-in a{
    color: #000;
}

input{
    font-size: 30px;
    width;100%;
    

}
button{
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    width 100%
}

.Contact-form h3{
   font-size: 80px;
   color: white;
   margin-bottom: 20px;
}
.Contact-form span{
    color: black;
    font-size: 50PX;
}
.Contact-form p{
    color: black;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.Contact-form form{
    position: relative;
}
.Contact-form form input{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    color: wheat;
    background-color: black;
    font-size: 15px;
    margin-bottom: 0.7rem;
}
a:link{
    color: black;
    font-size: large;
}




h3{
    font-size: 80px;
    text-align: center;
    text transform: capitalize;
    font family: serif;
    color: white;
}
input textarea{
    width: 100%;
    padding: 10px;
    color: white;
    

}
.portfolio p{
    text-align: center;
    padding: 4px;
    color: black; 
    font-size: 18px;
    margin-bottom: 10px;
}
.portfolio h1{
    font-size: 60px;
    text-align: center;
    color: white;
   margin-bottom: 10px;
}
.portfolio span{
    color: black;
    font-size: 80px;
}
.project h2{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    color: white;
}


.project p{
    color: white;
    margin-bottom: 30px;
    text-align: center;
}.project span{
    color: black;
    font-size: 60px;
}

.contact h2{
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin-top: 80px;
}
.contact ul li{
    text-align: center;
    color: white;
}
.hire-me-button {
    background-color: blueviolet;
    border: none;
    color: whitesmoke;
    padding: 10px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px 4px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    /* Styles for screens up to 768px (tablets) */
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px (phones) */
}
/* Default Styles for larger screens */

/* Tablet Styles */
@media only screen and (max-width: 768px) {
    /* Styles for tablets */
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
    /* Styles for phones */
}
.short video{
        max-width: 300px;
        margin: auto;
        margin-left: 80%;
        margin-bottom: 0%;
        margin-top: 0px;
    }
    p button a{
    color: blueviolet;
    margin: 20px 10px;
    margin-bottom: 10px;
    }
    .CV-resume p span{
        color: white;
        letter-spacing: 1px;
    line-height: 26px;
    font-size: 15px;
    padding: auto;
    }

    .footer-bottom footer p{
        text-align: center;
        padding : 0%;
        background-color: black;
        color: blueviolet;
        margin-top: 0%;
        font-size: small;
        width: 100vw;
        font-style: italic;   
    }

    
   














